html,
body {
    min-height: 3151px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 960px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
}


/*
.visually-hidden {
}
*/

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.button {
    padding: 5px 10px;
    color: #ffffff;
    background-color: #ee3643;
    display: inline-block;
}


/*Header*/

.page-header {
    min-height: 320px;
    background-color: #f4f7f9;
}

.header-top-menu {
    height: 42px;
    background-color: #293449;
    color: #ffffff;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    background-color: #f4f7f9;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
}

.header-top-menu a {
    color: #ffffff;
}

.logo {
    font-size: 27px;
    background-color: #ee3643;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    padding: 12px 55px 11px 55px;
    border: 1px transparent;
    ;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.search-input {
    width: 270px;
    height: 42px;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: inherit;
    border: none;
}

.search-input::placeholder {
    color: inherit;
}

.search-input:hover,
.search-input:focus {
    background-color: #212a3a;
}


/*закладки, корзина, оформитьзаказ*/

.header-order-list {
    font-size: 17px;
    line-height: 18px;
    display: flex;
    list-style: none;
}

.header-order-item {
    justify-content: space-between;
    padding: 0 10px;
}

.bookmark:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarkt:focus,
.basket:focus {
    background-color: #161d29;
}

.order {
    background-color: #63a63e;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:focus {
    background-color: #518534;
}


/*описание*/

.contacts-header {
    height: 156px;
    display: flex;
    justify-content: space-between;
}

.description {
    width: 196px;
    height: 60px;
    font-size: 16px;
    line-height: 23px;
    display: block;
    font-style: italic;
    font-size: 16px;
    color: #ee3643;
    margin: 49px 20px 44px 40px;
}


/*телефон*/

.header-phone-adressee {
    margin: 44px 0px 44px 0px;
}

.phone {
    width: 270px;
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: solid 3px #ffffff;
    padding: 8px 15px 8px 34px
}


/*адрес*/

.address {
    width: 250px;
    height: 13px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}


/*войти-регистрация*/

.user-login-block {
    font-size: 21px;
    color: #000000;
}

.login {
    width: 121px;
    color: #000000;
    background-color: #ffffff;
}

.login:hover,
.login:focus {
    color: #ee3643;
}

.login:active {
    color: rgba(0, 0, 0, 0.3);
}

.registration {
    width: 150px;
    color: #000000;
    background-color: #ffffff;
}

.registration:hover,
.registration:focus {
    color: #ee3643;
}

.registration:active {
    color: rgba(0, 0, 0, 0.3)
}

.user-account-on {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-account-on:hover,
.user-account-on:focus {
    color: #ee3643;
}

.user-account-on:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-personal-list {
    font-size: 16px;
    color: #32425c;
    list-style: none;
}

.my-order {
    color: #32425c;
}

.my-order:hover,
.my-order:focus {
    color: #ee3643;
    text-decoration: underline;
}

.my-order:active {
    color: rgba(0, 0, 0, 0.3)
}

.personal-link {
    color: #32425c;
}

.personal-link:hover,
.personal-link:focus {
    color: #ee3643;
    text-decoration: underline;
}

.personal-link:active {
    color: rgba(0, 0, 0, 0.3)
}

.header-nav-list {
    height: 12px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
    padding: 20px 30px;
}

.nav-link {
    color: #ffffff;
    padding: 20px 30px;
}

.nav-link:hover {
    background-color: #293449;
}

.nav-link:focus {
    background-color: #1d2739;
}

.nav-link:active {
    color: rgba(255, 255, 255, 0.6);
}


/*Компании Техноматр*/

.about-us {
    display: flex;
    justify-content: space-between;
}

.main-section-title {
    height: 21px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}


/*описание компании*/

.company-description {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.pic-map {
    display: block;
}


/*описание доставки*/

.delivery-companies-list {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.delivery-companies-list {
    list-style: none;
}

.delivery-companies-item {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}


/*кнопка-ссылка больше о компании*/

.more-about-company {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #ef4652;
    text-transform: uppercase;
}

.company-description {
    font-size: 13px;
    line-height: 24px;
}

.write-to-us {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #ee3643;
    text-transform: uppercase;
}


/*навигация нижняя*/

.footer-container {
    height: 193px;
}

.footer-nav {
    background-color: #32425c;
    font-size: 18px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.logo-footer {
    height: 68px;
    font-size: 23px;
    background-color: #ee3643;
    color: #ffffff;
}

.logo-footer:hover,
.logo-footer:focus {
    background-color: #ca2c37;
}

.logo-footer:active {
    background-color: #ee3643;
}

.footer-nav-list {
    display: flex;
    list-style: none;
}

.footer-nav-link {
    justify-content: space-between;
    padding: 0 10px;
    color: #f1f5f7
}

.footer-nav-link:hover,
.footer-nav-link:focus {
    text-decoration: underline;
}

.footer-nav-link:active {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none
}

.footer-catalog {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-address {
    color: #f3f7f9;
}

.catalog-nav-list {
    display: flex;
    list-style: none;
}

.catalog-nav-link {
    justify-content: space-between;
    padding: 0 10px;
    color: #ffd180;
}

.catalog-nav-link:hover,
.catalog-nav-link:focus {
    text-decoration: underline;
}

.catalog-nav-link:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}


/*копирайт 2010-2019*/

.social-footer {
    background-color: #293449;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.copyright-top {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    list-style: none;
}

.socials-item-list {
    background-color: #212a3a;
    color: #ffffff;
}

.socials-item-list:hover,
.socials-item-list:focus {
    background-color: #ee3643;
}


/*обратная связь*/

.footer-feedback {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.feedback,
.copyright {
    font-size: 16px;
    color: #ffffff;
}

.feedback-mail {
    font-size: 16px;
    color: #ffd180;
}

.feedback-mail:hover {
    text-decoration: underline;
}

.feedback-mail:focus {
    text-decoration: underline;
}

.feedback-mail:active {
    color: #ee3643;
}

.breadcrumbs-list {
    list-style: none;
}

.breadcrumbs-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
}

.main-content-product {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;
}


/*фильтр*/

.form-subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #000;
}

.brand-filter-label,
.power-type {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.filter-btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.item-card-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.oldprice {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #999999;
}

.newprice,
.price,
.catalog-item-new {
    width: 65px;
    height: 25px;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    background-color: #e9292a;
    font-weight: bold;
    color: #fff;
}

.buy-link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-link:hover,
.buy-link:focus {
    background-color: #5fbb2d;
}

.buy-link:active {
    background-color: #518534;
}

.bookmark-link {
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    background-color: #ffffff;
    border: solid 3px #63a63e;
}

.bookmark-link:hover,
.bookmark-link:focus {
    border: solid 3px #32425c;
}

.bookmark-link:active {
    color: rgba(50, 66, 92, 0.3);
    border: solid 3px rgba(50, 66, 92, 0.3);
}

.feedback-modal {
    width: 620px;
    height: 430px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ee3643;
}

.feedback-name {
    width: 72px;
    height: 13px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #000000;
}

.feedback-input-name {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #a9a9a9;
    width: 220px;
    height: 38px;
    border: solid 2px #dee3e4;
    background-color: #ffffff;
}

.feedback-email {
    width: 79px;
    height: 13px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
}

.feedback-input-email {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #a9a9a9;
    width: 220px;
    height: 38px;
    border: solid 2px #dee3e4;
    background-color: #ffffff;
}

.feedback-messenge {
    width: 96px;
    height: 13px;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #000000;
}

.feedback-input-messenge {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #a9a9a9;
    width: 460px;
    height: 114px;
    border: solid 2px #dee3e4;
    background-color: #ffffff;
}

.button-feedback {
    width: 620px;
    height: 112px;
    background-color: #f4f4f4;
}

.submit-modal-form {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ee3643;
}

.modal-map {
    width: 940px;
    height: 446px;
}

.buy-order-catalog {
    width: 620px;
    height: 282px;
    box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
    border-top: 7px solid #ee3643;
}

.order-in-basket {
    font-size: 30px;
    line-height: 30px;
    color: 000000;
}

.button-buy-order {
    width: 620px;
    height: 112px;
    background-color: #f1f1f1;
}

.buy-order {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ee3643;
}

.to-catalog {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    background: #ffffff;
}